/* article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
img {
    border: 4px solid #A56763;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}