* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 40px;
}

body {
  padding: 10px;
  height: 100%;
  text-align: justify;
}

div.inset-shadow {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: inset 0 0 10px #111;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

#masthead {
  width: 100%;
  margin-bottom: 30px;
}

a:visited {
  text-decoration: none;
}

a:hover {
	font-weight: bold;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}
  
#toc, footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
}

#toc li {
  margin-left: 60px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

section p img {
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

article {
  float: left;
  padding-left: 10%;
  padding-right: 8%;
}

footer {
  padding: 0 20px;
  justify-content: space-between;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  min-height: 0;
}

#content {
  flex: 1;
  padding-right: 1%;
  overflow-y: auto;
  height: 100%;
}

#sidebar {
  width: 30%;
  padding-right: 5%;
  padding-left: inherit;
}

#sidebar img {
  border: 2px solid;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
	color: #f8d271;
}